.boton {
    text-decoration: none;
    display:inline-block;
    width:60%;
    padding:20px;
    background: rgb(0, 0, 0);
    width:40%;
    text-align: center;
    color:white;
    font-size: 30px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px 5px rgb(129, 3, 129);

   }

  .boton3:hover{

    box-shadow: 0px 0px 20px 5px rgb(248, 244, 0);
    
  }

  /*etiqueta para el h1 del texto hola amor */

  h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 2px 2px 30px 2px rgb(12, 134, 172);
text-decoration: overline;
display: inline-block;
  }


  h3  {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 20px 0px rgb(12, 134, 172);
display: inline-block;
  }

  h2 {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0px 0px 20px 0px rgb(12, 134, 172);
display: inline-block;
  }
  p {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0px 0px 20px 0px rgb(12, 134, 172);
display: inline-block;
  }

  